# Configuración inicial

Instalamos las librerías que vamos a utilizar

In [54]:
import pandas as pd
import yfinance as yf
import matplotlib as plt
from datetime import date

print ('Setup Complete')

Setup Complete

In [55]:
end = date.today()
start = date(end.year - 1, end.month, end.day)

aapl_df = yf.download('AAPL', 
                      start, 
                      end, 
                      progress=False,
)
aapl_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-03-15,121.410004,124.000000,120.419998,123.989998,123.257416,92403800
2021-03-16,125.699997,127.220001,124.720001,125.570000,124.828079,115227900
2021-03-17,124.050003,125.860001,122.339996,124.760002,124.022873,111932600
2021-03-18,122.879997,123.180000,120.320000,120.529999,119.817863,121229700
2021-03-19,119.900002,121.430000,119.680000,119.989998,119.281052,185549500

In [56]:
aapl_df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-03-08,158.820007,162.880005,155.800003,157.440002,157.440002,131148300
2022-03-09,161.479996,163.410004,159.410004,162.949997,162.949997,91454900
2022-03-10,160.199997,160.389999,155.979996,158.520004,158.520004,105342000
2022-03-11,158.929993,159.279999,154.500000,154.729996,154.729996,96836300
2022-03-14,151.449997,154.119995,150.100006,150.619995,150.619995,108515100

In [57]:
# Acá descargamos nuestros datos por cada ticker
tickerStrings = ['AAPL', 'GOOG', 'MSFT', 'AMZN','TSLA','NVDA','FB','INTC','BABA','PYPL']
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", period='1mo')
    data['ticker'] = ticker  # agregamos la columna con el nombre del ticker
    df_list.append(data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [58]:
# combinamos los dataframes en uno solo
df = pd.concat(df_list)

In [59]:
# convertimos a csv
df.to_csv('ticker.csv')

Creamos una tabla dimensional con los nombres de las empresas

In [60]:
company_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN','TSLA','NVDA','FB','INTC','BABA','PYPL']
company_name = ["Apple","Google","Microsoft","Amazon","Tesla","NVIDIA","Meta","Intel","Alibaba","Paypal"]
df_names = pd.DataFrame(zip(company_list,company_name))
df_names.columns = ["Ticker","Empresa"]
    
print(df_names)

  Ticker    Empresa
0   AAPL      Apple
1   GOOG     Google
2   MSFT  Microsoft
3   AMZN     Amazon
4   TSLA      Tesla
5   NVDA     NVIDIA
6     FB       Meta
7   INTC      Intel
8   BABA    Alibaba
9   PYPL     Paypal

In [61]:
df_names.to_csv('empresas.csv')